@font-face {
  font-family: 'pragati-narrow';
  src:
    url('assets/fonts/pragatinarrow-bold.woff2') format('woff2'),
    url('assets/fonts/pragatinarrow-bold.woff') format('woff'),
    url('assets/fonts/pragatinarrow-bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'pragati-narrow';
  src:
    url('assets/fonts/pragatinarrow-regular.woff2') format('woff2'),
    url('assets/fonts/pragatinarrow-regular.woff') format('woff'),
    url('assets/fonts/pragatinarrow-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src:
    url('assets/fonts/inter-variable.woff2') format('woff2'),
    url('assets/fonts/inter-variable.woff') format('woff'),
    url('assets/fonts/inter-variable.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spacemono';
  src:
    url('assets/fonts/spacemono-regular.woff2') format('woff2'),
    url('assets/fonts/spacemono-regular.woff') format('woff'),
    url('assets/fonts/spacemono-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spacemono';
  src:
    url('assets/fonts/spacemono-bold.woff2') format('woff2'),
    url('assets/fonts/spacemono-bold.woff') format('woff'),
    url('assets/fonts/spacemono-bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

$gradient-dark: #141414;
$gradient-light: $dark;

$stripes: linear-gradient(
  45deg,
  $gradient-dark 25%,
  $gradient-light 25%,
  $gradient-light 50%,
  $gradient-dark 50%,
  $gradient-dark 75%,
  $gradient-light 75%,
  $gradient-light 100%
);

@keyframes bg-move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 300px 0;
  }
}

.bg-stripe {
  background: $stripes;
  background-size: 300px 300px;
  background-repeat: repeat;

  animation-name: bg-move;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

body,
.font-inter {
  font-family: inter, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
.font-pragati {
  font-family: 'pragati-narrow', sans-serif;
}

.font-spacemono {
  font-family: 'spacemono', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  &-enter-active,
  &-leave-active {
    transition-duration: 0.2s;
    transition-property: filter transform opacity;
    transform-origin: center center;
  }

  &-enter-active {
    transition-timing-function: ease-out;
  }

  &-leave-active {
    transition-timing-function: ease-in;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(0.98);
    filter: grayscale(0.4);
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transform-origin: center center;
  }

  &-enter-active {
    transition-timing-function: ease-out;
  }

  &-leave-active {
    transition-timing-function: ease-in;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.slide {
  &-enter-active,
  &-leave-active {
    transition-duration: 0.2s;
    transition-property: filter transform opacity;
    transform-origin: center center;
  }

  &-enter-active {
    transition-timing-function: ease-out;
  }

  &-leave-active {
    transition-timing-function: ease-in;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-1rem);
    filter: grayscale(0.4);
  }
}

.notification {
  &-enter-active,
  &-leave-active {
    transition-duration: 0.2s;
    transition-property: transform;
    transform-origin: center center;
  }

  &-enter-active {
    transition-timing-function: $in-bezier;
  }

  &-leave-active {
    transition-timing-function: $out-bezier;
  }

  &-enter-from,
  &-leave-to {
    transform: translateY(10rem);
  }
}

.list {
  &-move {
    transition-duration: 0.2s;
    transition-property: filter transform;
    transform-origin: center center;
  }

  &-enter-active,
  &-leave-active {
    transition-duration: 0.2s;
    transition-property: filter transform opacity;
    transform-origin: center center;
  }

  &-enter-active {
    transition-timing-function: ease-out;
  }

  &-leave-active {
    transition-timing-function: ease-in;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(0.98);
    filter: grayscale(0.4);
  }

  &-leave-active {
    position: absolute;
  }
}
